---
---


@import "{{ site.theme }}";

.highlight .cp {
  color: #b82237;
}
.highlight .nt {
  color: #b82237;
}
.highlight .nn {
  color: #b82237;
}
.highlight .nc {
  color: #b82237;
}
.highlight .no {
  color: #b82237;
}

body {
  color: #525e63;
  background: #01013;
}
