---
---


@import "{{ site.theme }}";

.highlight .cp {
  color: #b82237;
}
.highlight .nt {
  color: #b82237;
}
.highlight .nn {
  color: #b82237;
}
.highlight .nc {
  color: #b82237;
}
.highlight .no {
  color: #b82237;
}
body {
  color: #525e63;
  background: #0c1013;
  font:14px/1.5 "Crimson Text", "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#header {
  nav {
    background: #0c1013;
    border-bottom: 1px solid #434343;

    ul {
      li {
        color: white;

        a {
          color: #b82237;
          background: #252a30;
          border: none;
          &:hover {
            background: #0c1013;
            font-style:italic;
          }
        }
      }
    }
  }
}

p {
  font-size: 1.5rem;
}

a {
  color:#b82237;
  
  &:hover {
     color:#b82237;
     font-style:italic;
  }
}
