---
---


@import "{{ site.theme }}";

.highlight .cp {
  color: #b82237;
}
.highlight .nt {
  color: #b82237;
}
.highlight .nn {
  color: #b82237;
}
.highlight .nc {
  color: #b82237;
}
.highlight .no {
  color: #b82237;
}
body {
  color: #525e63;
  background: #0c1013;
  background-image: url(https://www.huntshowdown.com//files/screenshots/26_Hunt_screenshot_Update4.1.jpg);
  background-size: cover;
  font:14px/1.5 "Crimson Text", "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#header {
  border-bottom: 1px solid #434343;
  background-color: #0c1013;
  background-image: none;
  nav {

    ul {
      li {
        color: white;

        a {
          color: white;
          background: #252a30;
          border: none;
          box-shadow: none;
          &:hover {
            color: #b82237;
            font-style:italic;
            border: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}

p {
  font-size: 1.5rem;
}

a {
  color:#b82237;
  
  &:hover {
     color:#b82237;
     font-style:italic;
  }
}
