<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
            <!--<li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>-->
            <li class="fork"><img class="hunt-logo" src="https://www.huntshowdown.com/assets/img/logo-nav.png"></li>
            <li class="downloads"><a href="/hunt-guides/handbook">Handbook</a></li>
            <li class="downloads"><a href="/hunt-guides/beginner">Beginner</a></li>
            <li class="downloads"><a href="/hunt-guides">Welcome</a></li>
            {% if site.show_downloads %}
              <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
              <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
              <li class="title">DOWNLOADS</li>
            {% endif %}
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <!--
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        </div>
        -->
        {{ content }}
        <hr>
        <span class="credits left">Crytek, CRYENGINE, Hunt Showdown and the respective logos are trademarks or registered trademarks of the Crytek group</span>
        <span class="credits right">Midnight theme by <a href="https://twitter.com/mattgraham">mattgraham</a>, © <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
        <hr>
        <span class="credits left">Report a problem, make a suggestion: <a href="https://github.com/jhsowter/hunt-guides/issues">Feedback</a></span>
      </section>

    </div>
  </body>
</html>
